@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: white;
  color: black;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.dark body {
  background-color: #0a0a0a;
  color: white;
}

#root {
  margin: 0 auto;
}

@theme {
  --font-rubik: 'Rubik', sans-serif;
  --animate-blink: blink 1s linear infinite;

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
